<h1>Editing Tournemant</h1>

<%= render 'form', tournemant: @tournemant %>

<%= link_to 'Show', @tournemant ,class: 'btn btn-primary' %> |
<%= link_to 'Back', @tournemant ,class: 'btn btn-primary' %>
