<p id="notice"><%= notice %></p>

<p>
  <strong>Round:</strong>
  <%= @match.round.number %>
</p>

<%= link_to 'Edit', edit_match_path(params[:tid],params[:rid],params[:mid]) %> |
<%= link_to 'Back', round_path(params[:tid],params[:rid]) %>
